# Copy this file to secrets.yaml and fill in your actual passwords.
# Do not commit your real secrets.yaml to GitHub.

wifi_ssid: "YOUR_WIFI_SSID"
wifi_password: "YOUR_WIFI_PASSWORD"

api_password: "YOUR_API_PASSWORD"
ota_password: "YOUR_OTA_PASSWORD"

mqtt_broker: "192.168.1.x"
mqtt_username: "user"
mqtt_password: "password"